#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headline-container h2 {
  margin-bottom: 4px;
}

.headline-container h3 {
  margin-top: 0px;
}

.regMainComponent-container {
  flex-direction: column;
  justify-content: center;
}

.headline-container {
  margin-top: 50px;
}

.timeIcon-button:focus{
  outline: none;
  box-shadow: none;
}

.regComponent-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  background: #d2cece;
  gap: 16px;
  margin-top: 8px;
}

.regComponent-container {
  background: #f9f9f9;
  border-radius: 4px;
  
}

.padTop {
  padding-top: 8px;
  padding-bottom: 8px;
}

.buttons-wrapper {
  margin-top: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
